$color: #25233A;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $color;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  flex: 1;
  align-items: center;
  flex-direction: column;
  .top {
    width: 224px;
    text-align: center;
    h1 {
      text-align: center;
      margin: 0;
      padding: 10px 0;
    }
    ul {
      background-color: orange;
      list-style: none;
      margin: 10px 0;
      padding: 0;
      display: inline-block;
      width: 100%;
      li {
        float: left;
        width: 50%;
        &:hover {
          background-color: darkorange;
        }
        a {
          display: block;
          padding: 10px 0;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .game {
    display: inline-block;
    position: relative;
    .board {
      background-color: #eee;
      position: relative;
      overflow: hidden;
      .row {
        display: flex;
      }
    }
    .popup {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.4);
      button {
        display: block;
        margin: 0 auto;
        border: none;
        background-color: orange;
        color: white;
        padding: 6px 10px;
        font-size: 16px;
        border-radius: 4px;
      }
      .gameover-popup {
        background: white;
        color: $color;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        input {
          height: 30px;
          width: 100%;
          margin-bottom: 10px;
        }
        span {
          float: right;
          font-size: 13px;
          color: #ccc;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
  .info {
    width: 224px;
    padding: 15px 0;
    ul {
      &.game-info {
        float: left;
      }
      &.control-info {
        float: right;
      }
      list-style: none;
      padding: 0;
      margin: 0;
      li:not(:last-child) {
        padding-bottom: 15px;
      }
      .next {
        position: relative;
        .next-tetromino {
          display: flex;
          flex-direction: column;
          & > div {
            top: -3px !important;
            left: 60px !important;
          }
          .row {
            display: flex;
            div {
              width: 10px !important;
              height: 10px !important;
            }
          }
        }
      }
    }
  }
  .error {
    color: red;
  }
}
